@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "~/Views/Shared/_TrackerLayout.cshtml";
}
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="custom-card">
    <div class="row">
        <!-- Left Column: Avatar -->
        <div class="col-md-3 text-center border-end">
            <img src="~/image/delivery-truck.jpg" class="rounded-circle mb-3" width="150" alt="User Avatar" />
            <h4>@Model.Input.FullName</h4>
            <p class="text-muted">Delivery Representative<br>Bay Area, San Francisco, CA</p>
            <button type="button" class="btn btn-outline-primary">Resume</button>
        </div>

        <!-- Right Column: Details -->
        <div class="col-md-9">
            <table class="table table-borderless profile-details-table">
                <tbody>
                    <tr><th>Full Name</th><td>@Model.Input.FullName</td></tr>
                    <tr><th>Email</th><td>@Model.Username</td></tr>
                    <tr><th>Phone</th><td>@Model.Input.PhoneNumber</td></tr>
                    <tr><th>Date of Birth</th><td>@Model.Input.DateOfBirth?.ToShortDateString()</td></tr>
                    <tr><th>Permanent Address</th><td>@Model.Input.PermanentAddress</td></tr>
                    <tr><th>Present Address</th><td>@Model.Input.PresentAddress</td></tr>
                    <tr><th>Referral Source</th><td>@Model.Input.ReferralSource</td></tr>
                    <tr><th>Gender</th><td>@Model.Input.Gender</td></tr>
                </tbody>
            </table>
            <a asp-page="./EditProfile" class="btn btn-primary">Edit Information</a>
        </div>
    </div>
</div>